@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
  margin: 30px;
  color:rgb(161, 161, 161); 
}

.result {
  text-align: center;
  color: rgb(161, 161, 161);
}

.place-for-user-result,
.place-for-computer-result {
  margin-top: 100px;
  text-align: center;
  color: rgb(161, 161, 161);
  font-size: 35px;
}

.who-won{
  text-align: center;
  color: rgb(161, 161, 161);
  font-size: 30px;
  text-transform: uppercase;
}

.input-box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#user-choice {
  padding: 18px;
  width: 300px;
  margin: 0;
  border-radius: 0px;
  border: 1px solid rgb(161, 161, 161);
}

#play {
  width: 150px;
  margin: 0;
  display: inline-block;
  text-align: center;
  background: #cccccc;
  padding: 15px;
  border-bottom: 3px solid rgb(161, 161, 161);
  border-right: 3px solid rgb(161, 161, 161);
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
}

#play:hover,
#play:focus {
  background: rgb(161, 161, 161);
  border-bottom: 3px solid #cccccc;
  border-right: 3px solid #cccccc;
}

.container {
  width: 700px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.user-result, 
.computer-result {
  height: 300px;
  width: 300px;
  border: 1px solid rgb(161, 161, 161);
  padding: 15px;
}